body {
    background-color:#000000;
}

#poster-container > #title-outer-container {
    color: #ffffff;
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px 4px #000000;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

#poster-container > #title-outer-container > #title-inner-container.text-align-1 {
    margin: auto;
    text-align: center;
}

#poster-container > #title-outer-container > #title-inner-container.text-align-2 {
    width: 100%;
    text-align: left;
    padding-left: 10px;
}

#poster-container > #title-outer-container > #title-inner-container.text-align-3 {
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

#credits-container {
    margin-top: 50px;
}
