body {
    background-color:#000000;
}

#app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}

.title {
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
}
